fieldset{
    background-color: cornflowerblue;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    }

input {
    margin: 5px;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    font-family: 'Baloo 2', cursive;
    height:853px;
    overflow: scroll;
    min-height:100%;
    }

container{
    display: flex;
    background-color: rgb(255, 153, 0);
    }

.Nav-bar h1{
    
    margin: auto;
    font-family: Arial;
    font-size: 50px;
    background-color:coral;
    text-align: center;
    
    }

form{
    background-color: rgb(156, 170, 248);
    height: 100%;
    width: 100%;
    }

.formm h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    color:blue;
     }

.reg-detail {
    border: 3px solid black;
    margin: auto;
    width: 70%;
    border-radius: 6px;
    background-color: rgb(255, 217, 94) ;
    }

.reg-detail input{
    border: 3px solid rgb(17, 0, 255);
    font-size: large;
    border-radius: 4px;
    width: 69%;
    padding: 5px 4px;
    margin: 17px -7px;
    background-color: rgb(176, 201, 238);
    }
.reg-detail label{
    margin: 19px;
    font-size: 1.5rem;
     }
                   
 .from{
    margin-left: 4px;
    }

.citys{
    font-size: 15px;
    padding: 3px 19px;
    margin: 21px 104px;
    border: 3px solid rgb(0, 17, 255);
    font-weight: 400;
    background-color: rgb(198, 176, 238);
    }
.regbtn{margin-top: 20px;
    text-align: center;
    padding: 2px;
    }

.regbtn button{
    font-size: 1.3rem;
    border: 3px solid rgb(16, 36, 36);
    border-radius: 4px;
    color: rgb(255, 19, 19);
    padding: 6px 4px;
    background-color: rgb(172, 153, 253);
    }
.regbtn button:hover{
        border-radius: 3px;
        background-color: rgb(252, 125, 125);
        cursor: pointer;
        color: rgb(0, 0, 0);
        transition: 0.6s ease;
        }        
         
                


    
            