body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
table{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
   }
th{Name=Utsav Dabhi
    ER=180020107008
    padding: auto;
    font-size:20px;
    border: 3px solid;
    text-align: center;
    background-color: coral;
    }
td{
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    }      