*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    }
    body{
    height:453px;
    overflow: hidden;
    min-height:100%;
    }
    .container{
    display: flex;
    background-color: rgb(104, 255, 129);
    }
    .container img{
    width: 100px;
    height: 100px;
    margin: 4px 10px;
    }
    .container h1{
    margin: auto;
    font-size: 50px;
    text-shadow: 3.5px 0 rgb(241, 248, 144) ;
}
.navigation nav{
}
.navigation nav ul{
    background-color: rgb(241, 248, 144);
    display: flex;
    padding: 10px;
}
.navigation nav ul li{
    list-style: none;
}
.navigation nav ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 3px;
    color: black;
    margin: 14px 15px;
}
.navigation nav ul li a:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.6s ease;
    border-radius: 3px;
    background-color: rgb(252, 125, 125);
}